#because i run on http://localhost/silex-simple-test/silex-simple-rest/web/
#RewriteBase /silex-simple-test/silex-simple-rest/web/
#RewriteEngine on

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !(api/.*)

#let angular do the magic
#RewriteRule ^(.*) index.html [NC,L]

#let the php framework do the rest
#RewriteRule ^(api/.*) api/index.php [NC,L]

#TODO manage every single route and return 404 for the others (for SEO purpose)


<IfModule mod_rewrite.c>
  Options -MultiViews
  RewriteEngine On
  RewriteBase /silex-simple-rest/web
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>

